<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homework 05</title>
</head>
<body>
    <!-- CODE GOES HERE!!! -->
    <form action="/handle_post" method="post">
        Name: <input type="text" name="Name:" value=""><br>
        Age: <input type="text" name="Age" value=""> <br>
    <fieldset>
        <legend>Condiments</legend>
        <label for="Western Computer Science">Western Computer Science</label>
        <input name="major" type="radio" value="Western Computer Science">
        <br>
        <label for="CU Computer Science">CU Computer Science</label>
        <input name="major" type="radio" value="CU Computer Science">

    </fieldset>
        <select name="language">
            <option value="PY">Python</option>
            <option value="C++">C++</option>
            <option value="C">C</option>
        </select>
        <br>
        <input type="range" name="credits" min=0 max = 18 >




        <input type="submit">
    </form>


</body>
</html>